<SPopup @ref="PopupRef" Class="middle center ui-message">
    <SCard Class="@($"ui-message-card {ColorClass}")">
        <Header>
            @Title
            @if (ShowMessageIcon)
            {
                <div class="ui-message-icon colored">
                    <SIcon IconName="@MessageIcon"/>
                </div>
            }
        </Header>
        <Body>
        <div class="ui-message-text">
            @Message
        </div>
        </Body>
        <Footer>
            @if (IsConfirmation)
            {
                <SButton Theme="Theme.Primary" Class="outline" Click="@OnCancelClicked">
                    <AddTemplate>
                        @if (Options?.CancelButtonIcon != null)
                        {
                            <SIcon IconName="@Options.CancelButtonIcon.ToString()"/>
                        }
                        @CancelButtonText
                    </AddTemplate>
                </SButton>
                <SButton Theme="Theme.Primary" Click="@OnConfirmClicked">
                    <AddTemplate>
                        @if (Options?.ConfirmButtonIcon != null)
                        {
                            <SIcon IconName="@Options.ConfirmButtonIcon.ToString()"/>
                        }
                        @ConfirmButtonText
                    </AddTemplate>
                </SButton>
            }
            else
            {
                <SButton Theme="Theme.Primary" Click="@OnOkClicked">
                    <AddTemplate>
                        @if (Options?.OkButtonIcon != null)
                        {
                            <SIcon IconName="@Options.OkButtonIcon.ToString()"/>
                        }
                        @OkButtonText
                    </AddTemplate>
                </SButton>
            }
        </Footer>
    </SCard>
</SPopup>