<SPopup @ref="PopupRef" Class="middle center ui-message">
    <SCard Class="@($"ui-message-card {ColorClass}")">
        <Header>
            @Title
            @if (ShowMessageIcon)
            {
                <div class="ui-message-icon colored">
                    <SIcon IconName="@MessageIcon"/>
                </div>
            }
        </Header>
        <Body>
        <div class="ui-message-text">
            @Message
        </div>
        </Body>
        <Footer>
            @if (IsConfirmation)
            {
                <Button Theme="Theme.Primary" Class="outline" Click="@OnCancelClicked">
                    @if (Options?.CancelButtonIcon != null)
                    {
                        <SIcon IconName="@Options.CancelButtonIcon.ToString()"/>
                    }
                    @CancelButtonText
                </Button>
                <Button Theme="Theme.Primary" Click="@OnConfirmClicked">
                    @if (Options?.ConfirmButtonIcon != null)
                    {
                        <SIcon IconName="@Options.ConfirmButtonIcon.ToString()"/>
                    }
                    @ConfirmButtonText
                </Button>
            }
            else
            {
                <Button Theme="Theme.Primary" Click="@OnOkClicked">
                    @if (Options?.OkButtonIcon != null)
                    {
                        <SIcon IconName="@Options.OkButtonIcon.ToString()"/>
                    }
                    @OkButtonText
                </Button>
            }
        </Footer>
    </SCard>
</SPopup>