<SFloater Class="ui-notify">

    @GenerateNotifications()

</SFloater>

@code
{
    RenderFragment GenerateNotificationCard(UiNotification notify) =>
        @<SCard @key="notify.Index" Theme="notify.Theme">
            @if (!notify.Title.IsNullOrEmpty())
            {
                <Header>
                    @notify.Title
                </Header>
            }
            <Body>
            @notify.Message
            </Body>
            <Footer>
                <Button Click="@(() => CloseNotificationAsync(notify))">
                    @notify.ButtonText
                </Button>
            </Footer>
        </SCard>;
}
