@namespace Secyud.Abp.Settings.Components
@inherits AbpComponentBase

@if (EmailSettings != null)
{
    <ValidationForm @ref="@EmailSettingValidation">
        <SFormLayout EnableValidation>
            <FormLayoutItem ColSpanMd="12" Title="@($"{L["DefaultFromDisplayName"]} *")" ShowValidationMessage>
                <TextBox @bind-Value="EmailSettings.DefaultFromDisplayName"/>
            </FormLayoutItem>
            <FormLayoutItem ColSpanMd="12" Title="@($"{L["DefaultFromAddress"]} *")" ShowValidationMessage>
                <TextBox @bind-Value="EmailSettings.DefaultFromAddress"/>
            </FormLayoutItem>
            <FormLayoutItem ColSpanMd="12" Title="@($"{L["SmtpHost"]} *")" ShowValidationMessage>
                <TextBox @bind-Value="EmailSettings.SmtpHost"/>
            </FormLayoutItem>
            <FormLayoutItem ColSpanMd="12" Title="@($"{L["SmtpPort"]}")" EnableValidation="false">
                <NumberBox @bind-Value="EmailSettings.SmtpPort"/>
            </FormLayoutItem>
            <FormLayoutItem ColSpanMd="12" Title="@($"{L["SmtpEnableSsl"]}")" EnableValidation="false">
                <CheckBox @bind-Value="EmailSettings.SmtpEnableSsl"/>
            </FormLayoutItem>
            <FormLayoutItem ColSpanMd="12" Title="@($"{L["SmtpUseDefaultCredentials"]}")" EnableValidation="false">
                <CheckBox @bind-Value="EmailSettings.SmtpUseDefaultCredentials"/>
            </FormLayoutItem>

            @if (!EmailSettings.SmtpUseDefaultCredentials)
            {
                <FormLayoutItem ColSpanMd="12" Title="@($"{L["SmtpDomain"]}")" ShowValidationMessage>
                    <TextBox @bind-Value="EmailSettings.SmtpDomain"/>
                </FormLayoutItem>
                <FormLayoutItem ColSpanMd="12" Title="@($"{L["SmtpUserName"]}")" ShowValidationMessage>
                    <TextBox @bind-Value="EmailSettings.SmtpUserName"/>
                </FormLayoutItem>
                <FormLayoutItem ColSpanMd="12" Title="@($"{L["SmtpPassword"]}")" ShowValidationMessage>
                    <TextBox @bind-Value="EmailSettings.SmtpPassword"/>
                </FormLayoutItem>
            }
        </SFormLayout>
    </ValidationForm>


    @if (HasSendTestEmailPermission)
    {
        <Button Click="OpenSendTestEmailModalAsync" Class="inline-block end">
            @L["SendTestEmail"]
        </Button>
    }

    <SubmitButton Click="UpdateSettingsAsync"/>

    @if (HasSendTestEmailPermission && SendTestEmailInput is not null)
    {
        <SModal @ref="SendTestEmailModal">
            <SCard>
                <Header>
                    @L["SendTestEmail"]
                    <CloseButton Click="CloseSendTestEmailModalAsync" Class="modal-close-icon"/>
                </Header>
                <Body>
                <SFormLayout EnableValidation>
                    <FormLayoutItem Title="@L["SenderEmailAddress"]" ShowValidationMessage>
                        <TextBox @bind-Value="SendTestEmailInput.SenderEmailAddress"/>
                    </FormLayoutItem>
                    <FormLayoutItem Title="@L["TargetEmailAddress"]" ShowValidationMessage>
                        <TextBox @bind-Value="SendTestEmailInput.TargetEmailAddress"/>
                    </FormLayoutItem>
                    <FormLayoutItem Title="@L["Subject"]" ShowValidationMessage>
                        <TextBox @bind-Value="SendTestEmailInput.Subject"/>
                    </FormLayoutItem>
                    <FormLayoutItem Title="@L["Body"]" ShowValidationMessage>
                        <TextBox @bind-Value="SendTestEmailInput.Body"/>
                    </FormLayoutItem>
                </SFormLayout>
                </Body>
                <Footer>
                    <Button Theme="Theme.Secondary" Click="CloseSendTestEmailModalAsync">
                        @L["Cancel"]
                    </Button>
                    <Button Theme="Theme.Primary" Click="SendTestEmailAsync">
                        @L["Send"]
                    </Button>
                </Footer>
            </SCard>
        </SModal>
    }
}
