@attribute [Route(AppMenus.Theme.ButtonUri)]
@inherits ThemedPageBase

@{
    base.BuildRenderTree(__builder);
}

<SCard Theme="Theme" Size="Size">
    <Header>
        @L["Button"]
    </Header>
    <Body>
    <DemoButton Text="@L["Default"]"/>
    <DemoButton Text="@L["Outline"]" Class="outline"/>
    <DemoButton Text="@L["Plain"]" Class="plain"/>
    <DemoButton Text="@L["Shadow"]" Class="shadow"/>
    </Body>
</SCard>