@attribute [Route(AppMenus.Function.MessageUri)]

@inherits SecitsDemoAppComponentBase
<SCard>
    <Header>
        @L["Message"]
    </Header>
    <Body>
    <DemoButton Theme="Theme.Info" Text="@L["Info"]"
                Click="@(() => Message.Info(L["InfoContent"], L["Info"]))"/>
    <DemoButton Theme="Theme.Success" Text="@L["Success"]" 
                Click="@(() => Message.Success(L["SuccessContent"], L["Success"]))"/>
    <DemoButton Theme="Theme.Warning" Text="@L["Warn"]" 
                Click="@(() => Message.Warn(L["WarnContent"], L["Warn"]))"/>
    <DemoButton Theme="Theme.Danger" Text="@L["Error"]" 
                Click="@(() => Message.Error(L["ErrorContent"], L["Error"]))"/>
    <DemoButton Theme="Theme.Naive" Text="@L["Confirm"]" 
                Click="@(() => Message.Confirm(L["ConfirmContent"], L["Confirm"]))"/>
    </Body>
</SCard>
