@attribute [Route(AppMenus.Function.NotifyUri)]

@inherits SecitsDemoAppComponentBase
<SCard>
    <Header>
        @L["Notify"]
    </Header>
    <Body>
    <DemoButton Theme="Theme.Info" Text="@L["Info"]"
                Click="@(() => Notify.Info(L["InfoContent"], L["Info"]))"/>
    <DemoButton Theme="Theme.Success" Text="@L["Success"]"
                Click="@(() => Notify.Success(L["SuccessContent"], L["Success"]))"/>
    <DemoButton Theme="Theme.Warning" Text="@L["Warn"]"
                Click="@(() => Notify.Warn(L["WarnContent"], L["Warn"]))"/>
    <DemoButton Theme="Theme.Danger" Text="@L["Error"]"
                Click="@(() => Notify.Error(L["ErrorContent"], L["Error"]))"/>
    </Body>
</SCard>
