@using Secyud.Secits.Blazor.Icons
@using Secyud.Secits.Blazor.PageRouters
@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase
<TabContainer @ref="TabContainer">
    @foreach (var item in PageRouterManager.Items)
    {
        @GenerateTab(item)
    }
    <TabTagsView Class="sc-router-tabs"/>
    <LayoutHook Name="@Volo.Abp.Ui.LayoutHooks.LayoutHooks.Body.First"
                Layout="@StandardLayouts.Application"/>
    <TabContentsView RenderMode="TabRenderMode.LazyLoad"/>
    <LayoutHook Name="@Volo.Abp.Ui.LayoutHooks.LayoutHooks.Body.Last"
                Layout="@StandardLayouts.Application"/>
    <DynamicLayoutComponent/>
</TabContainer>

@code
{
    protected RenderFragment GenerateTab(PageRouterItem item)
    {
        item.DisplayNameGetter ??= CreateDisplayNameGetter(item);

        return __builder =>
        {
            <Tab Key="@item.Id">
                <Tag>
                    <span class="tab-text">@item.DisplayName</span>
                    <SIcon IconName="@IconProvider.GetIcon(IconName.Cross)" 
                           Click="() => CloseTabAsync(item)"></SIcon>
                </Tag>
                <Content>
                    <PageRouterView Item="item"></PageRouterView>
                </Content>
            </Tab>
        };
    }
}
