@using Secyud.Abp.AspNetCore.Components
@using Secyud.Secits.Blazor.Icons
@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase
<STabContainer @ref="TabContainer" Class="@Class" Style="@Style">
    <TabProvider Items="PageRouterManager.Items" Options="OnTabOptioned">
        <TagTemplate>
            @{
                context.DisplayNameGetter ??= CreateDisplayNameGetter(context);
            }
            <a class="tab-text" @onclick="() => NavigateTo(context.Uri)"
               @onclick:stopPropagation @onclick:preventDefault>
                @context.DisplayName
            </a>
            <SIcon IconName="@IconProvider.GetIcon(IconName.Cross)" Class="anim"
                   Click="() => CloseTabAsync(context)"/>
        </TagTemplate>
        <ContentTemplate>
            @context.Body
            @* <PageRouterView Item="context"></PageRouterView> *@
        </ContentTemplate>
    </TabProvider>
    <STabTagsView Class="sc-router-tabs"/>

    <MainLayoutBody>
        <STabContentsView RenderMode="TabRenderMode.LazyLoad"/>
    </MainLayoutBody>
</STabContainer>