@attribute [Route(AppMenus.Theme.ButtonUri)]
@inherits ThemedPageBase

@{
    base.BuildRenderTree(__builder);
}

<SCard Theme="Theme" Size="Size">
    <Header>
        @L["Button"]
    </Header>
    <Body>
    <SButton Class="inline-block">
        <AddTemplate>@L["Default"]</AddTemplate>
    </SButton>
    <SButton Class="inline-block outline">
        <AddTemplate>@L["Outline"]</AddTemplate>
    </SButton>
    <SButton Class="inline-block plain">
        <AddTemplate>@L["Plain"]</AddTemplate>
    </SButton>
    <SButton Class="inline-block shadow">
        <AddTemplate>@L["Shadow"]</AddTemplate>
    </SButton>
    </Body>
</SCard>