@attribute [Route(AppMenus.Theme.InputUri)]
@inherits ThemedPageBase

@{
    base.BuildRenderTree(__builder);
}

<SCard Theme="Theme" Size="Size">
    <Header>
        @L["InputField"]
    </Header>
    <Body>
    <SFormLayout>
        @{
            string d = @L["Default"];
            <FormLayoutItem Title="@d">
                <TextBox Value="@d" Class=""/>
            </FormLayoutItem>
        }
        @{
            string o = @L["Outline"];
            <FormLayoutItem Title="@o">
                <TextBox Value="@o" Class="outline"/>
            </FormLayoutItem>
        }
        @{
            string p = @L["Plain"];
            <FormLayoutItem Title="@p">
                <TextBox Value="@p" Class="plain"/>
            </FormLayoutItem>
        }
        @{
            string s = @L["Shadow"];
            <FormLayoutItem Title="@s">
                <TextBox Value="@s" Class="shadow"/>
            </FormLayoutItem>
        }
    </SFormLayout>
    </Body>
</SCard>