@namespace Secyud.Abp.Permissions.Components
@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase

<SPopup @ref="Modal">
    <SCard>
        <Header>
            @L["Permissions"] - @EntityDisplayName
            <SIcon IconName="@_crossIcon" Click="CloseModalAsync"></SIcon>
        </Header>

        <Body>
        <STabContainer Class="abp-permission-grant-tab">
            <TabProvider Items="ShowGroups">
                <TagTemplate>
                    <div>@context.DisplayName</div>
                </TagTemplate>
                <ContentTemplate>
                    <SList TValue="PermissionGrantInfoModel">
                        <StaticDataSource Items="context.Permissions"/>
                        <EnableIteratorTreePager TValue="PermissionGrantInfoModel"
                                                 Children="CheckPermissionChildrenAsync"/>
                        <ListColumn Context="listItem">
                            <SCheck Checked="@listItem.IsChecked"
                                    Click="()=>OnPermissionInfoModelCheckClickAsync(listItem)"/>
                            @listItem.DisplayName
                        </ListColumn>
                    </SList>
                </ContentTemplate>
            </TabProvider>

            <STabTagsView/>
            <STabContentsView RenderMode="TabRenderMode.LazyLoad"/>
        </STabContainer>

        </Body>

        <Footer>
            <CancelButton Click="@CloseModalAsync"/>
            <SubmitButton Click="@SaveAsync"/>
        </Footer>
    </SCard>
</SPopup>
