@using Secyud.Abp.AspNetCore.Components.Components
@using Secyud.Abp.Secits.Blazor.Components
@inherits LayoutComponentBase

<div class="secits-body">
    <div class="secits-header @(_collapsed ? "collapsed" : "")">
        @GenerateLayoutHeader()
    </div>

    <div class="secits-container">
        <LayoutHook Name="@Volo.Abp.Ui.LayoutHooks.LayoutHooks.Body.First"
                    Layout="@StandardLayouts.Application"/>
        @Body
        <LayoutHook Name="@Volo.Abp.Ui.LayoutHooks.LayoutHooks.Body.Last"
                    Layout="@StandardLayouts.Application"/>
        <DynamicLayoutComponent/>
        <UiPageProgress/>
        <UiMessageAlert/>
        <UiNotificationAlert/>
    </div>
    <div class="secits-footer">
        @GenerateLayoutFooter()
    </div>
</div>

@code
{
    RenderFragment GenerateLayoutHeader() => __builder => { };
    RenderFragment GenerateLayoutFooter() => __builder => { };
}
